.rectangle{margin: 0 auto;
		width: 500px;
		height: 300px;
		background: green;
		display: flex;	}
.square2{
	height: 250px;
	width: 250px;
	margin-left: 150px;
	margin-top: 25px;
	background: red;
	display: flex;
	
}
.circle{border-radius: 50%;}
.anik{
	margin:left;
	width: 5px;
	height: 600px;
	background: yellow;
	display: flex;
}